/target/
/desktop/node_modules/
/desktop/dist/
/desktop/src-tauri/target/
/desktop/src-tauri/gen/
/desktop/pnpm-workspace.yaml
/.pnpm-store/
/.pnpmstore/
/desktop/package-lock.json
/desktop/yarn.lock
CLAUDE.md
**/CLAUDE.md
/desktop/src-tauri/icons
